auto-install-peers=false
strict-peer-dependencies=false
public-hoist-pattern[]=vite
public-hoist-pattern[]=@vitejs/*
public-hoist-pattern[]=@tailwindcss/*
public-hoist-pattern[]=@replit/*
public-hoist-pattern[]=@rollup/*
public-hoist-pattern[]=lightningcss*
public-hoist-pattern[]=@esbuild/*
